 body{
    height: 1800px;
    background-color: #000;
 } 
 .div1 ,.div3 ,.div5,.div2 ,.div4 ,.div6{
    width: 100px;
    height: 100px;
    
     
    animation-duration: 8s;
   position: absolute;
    transition: .5s;
    background-size: cover;
background-position: center;
    border-radius: 50%;
    border: 3px solid rgb(201, 147, 11);
    outline: 3px solid  rgb(201, 147, 11);
    outline-offset: 10px;
    animation-fill-mode: forwards;
     animation-timing-function: ease;
}
 
.div1 ,.div3 ,.div5{

    animation-name: chang;
 
    
}
.div2 ,.div4 ,.div6{
    left: 0;
    animation-name: chang1;
     
}


.div1{
    margin: 80px 20px ;
    background-image: url('wallpaperflare.com_wallpaper (2).jpg');
    animation-delay: 2s;
     
   
}
.div2{
margin: 270px 20px;
background-image: url('andre-benz-cXU6tNxhub0-unsplash.jpg');
animation-delay: 10s;
 
}
.div3{
    margin: 450px 20px;
    background-image: url('wallpaperflare.com_wallpaper (1).jpg');
    animation-delay: 18s;
     
    
}
.div4{
    margin: 620px 20px;
    background-image: url('IMG-20220919-WA0023 (1) (1).jpg');
    animation-delay: 24s;
     
}
.div5{
    margin: 800px 20px;
    background-image: url('wallpaperflare.com_wallpaper.jpg');
    animation-delay: 29s;
 
    
}
.div6{
    margin: 970px 20px;
    background-image: url('wallpaperflare.com_wallpaper (1).jpg');
    animation-delay: 36s;
    
}

@keyframes chang1{
    0%{
        left:0px;
 
 transform: rotate(0);
 
    }
    

50%{
    left: 87%;
    background-image: url("profile-2.jpg");
    outline-color: hotpink;
    border-color: hotpink;
    transform: rotate(180deg);
}

    100%{
 left: 0;
  
 
    }
}
 

@keyframes chang{
    0%{
        left:0px;
 
 transform: rotate(0);
 
    }
    

50%{
    left: 87%;
    background-image: url("profile-2.jpg");
    outline-color: hotpink;
    border-color: hotpink;
    transform: rotate(180deg);
}

    100%{
 left: 85%;
  
 
    }
    
}
 
.animation-rotate{
    position: absolute;
    bottom: -140%;
    left: 40%;

}
 
.animation-rotate .outer-circle{
    width: 380px;
    height: 380px;
    border: 2px solid rgb(201, 147, 11);
    border-radius: 50%;
    position: relative;
    animation-name: move;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}
.animation-rotate .outer-circle span{
display: block;
width: 70px;
height: 70px;
border-radius: 50%;
position: absolute;
background-color: #fff;
color:rgb(201, 147, 11) ;
display: flex;
justify-content: center;
align-items: center;
box-shadow: 0 0 10px rgb(201, 147, 11);
}
.animation-rotate .outer-circle span:nth-child(1){
    left:40%;
    top: -10%;
}

.animation-rotate .outer-circle span:nth-child(2){
    right: -10%;
    top: 40%;
}

.animation-rotate .outer-circle span:nth-child(3){
    left:-10%;
    top: 40%;
}

.animation-rotate .outer-circle span:nth-child(4){
    left:40%;
    bottom: -10%;
}
@keyframes move{
    to{
      transform: rotate(360deg);
    }
}

 